<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.forrestguice.thunderwatch.free" 
	android:versionCode="4"
	android:versionName="0.3.1"
	android:installLocation="auto">

	<uses-sdk android:minSdkVersion="4"
 			  android:targetSdkVersion="10" />

	<!-- required to display ads -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application android:icon="@drawable/icon"
	    android:name="com.forrestguice.thunderwatch.lib.ThunderClockApp"
		android:label="@string/app_name">

		<activity android:name="com.forrestguice.thunderwatch.free.ThunderClockExt"
			android:label="@string/app_name" 
			android:theme="@android:style/Theme.NoTitleBar"
			android:icon="@drawable/icon">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Activity: Timer View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.SimpleThunderClockView"
			android:label="@string/app_name" />

		<!-- Activity: Log View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.LogThunderClockView" android:label="@string/app_name" />

		<!-- Activity: Help View -->
		<activity android:name="com.forrestguice.thunderwatch.free.ThunderClockHelpExt" android:label="@string/app_help" />

		<!-- Activity: Help About View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.HelpAboutThunderClockView"
			android:label="@string/app_help" />

		<!-- Activity: Help Safety View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.HelpSafetyThunderClockView"
			android:label="@string/app_help" />

		<!-- Activity: Help Howto View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.HelpHowtoThunderClockView"
			android:label="@string/app_help" />

		<!-- Activity: Settings View -->
		<activity android:name="com.forrestguice.thunderwatch.free.ThunderClockSettingsExt" android:label="@string/app_settings" />
		
		<!-- Activity: Mopub Browser -->
		<!--<activity android:name="com.mopub.mobileads.MraidBrowser" android:label="@string/app_name" />-->

	</application>

</manifest>
		
