<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.forrestguice.thunderwatch.lib" 
	android:versionCode="5"
	android:versionName="0.4.0"
	android:installLocation="auto">

	<uses-sdk android:minSdkVersion="4"
 			  android:targetSdkVersion="19" />
	
	<application android:icon="@drawable/icon"
	    android:name="com.forrestguice.thunderwatch.lib.ThunderClockApp"
		android:label="@string/app_name">

		<activity android:name="com.forrestguice.thunderwatch.lib.ThunderClock"
			android:label="@string/app_name" 
			android:theme="@android:style/Theme.NoTitleBar"
			android:icon="@drawable/icon">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Activity: Timer View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.SimpleThunderClockView"
			android:label="@string/app_name" />

		<!-- Activity: Log View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.LogThunderClockView" android:label="@string/app_name" />

		<!-- Activity: Help View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.ThunderClockHelp" android:label="@string/app_help" />

		<!-- Activity: Help About View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.HelpAboutThunderClockView"
			android:label="@string/app_help" />

		<!-- Activity: Help Safety View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.HelpSafetyThunderClockView"
			android:label="@string/app_help" />

		<!-- Activity: Help Howto View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.HelpHowtoThunderClockView"
			android:label="@string/app_help" />

		<!-- Activity: Settings View -->
		<activity android:name="com.forrestguice.thunderwatch.lib.ThunderClockSettings" android:label="@string/app_settings" />

	</application>

</manifest>
		
